extends layout

block content
    pre#data
    script.
        let csrf = $('[name="csrf-token"]').prop('content')
        let sheet = window.location.pathname.split('/')
        $.post("/player/character_sheet/"+sheet[3], {'_csrf': csrf, 'name': sheet[3]}).then(function(data){ 
            console.log(data)
        })