extends layout

block content
    h1 Class Create
    div(id="model_one" style="display: none;")
        | #{data}
    form(method="post" action="/class/make")
        input(type="hidden" name="_csrf" value=_csrf)
        div#here
        div
            button.btn#has_magic(type="button") Has Spells
        button.btn#submit_button
            | Create!
    script(src="/js/proficiency.js")
    script.
        let temp = JSON.parse($("#model_one").html())
        for (each in temp.paths) {
            if ( (each != "_id") && (each !="__v") ) {
                switch (temp.paths[each].instance) {
                    case "Number":
                        $("#here").append("<p><label>"+each+"</label> : <input name='"+each+"' type='number'></p>")
                        break;
                    case "Array":
                        $("#here").append("<p><label>"+each+"</label> : <input name='"+each+"' type='text' placeholder='Separate by comma'></p>")
                        break;
                    case "String":
                        $("#here").append("<p<label>"+each+"</label> : <input type='text' name='"+each+"'></p>")
                        break;
                    case "Object":
                        console.log(temp.paths[each])
                        break;
                }
            }
        }


        $("[name*='spell']").parent().hide();
        $("#has_magic").on('click', function(){
            $("[name*='spell_slots.cantrips']").parent().toggle();
            $("[name*='spell_slots.spells']").parent().toggle();
            $("#caster_type").empty()
            $("[name*='spell_slots.spells']").after(`<div id='caster_type'><label>Caster type</label> : <select name="caster_type">
                <option>Full</option>
                <option>Partial</option>
            </select></div>`)
        })