extends layout

block content
	div.row
		span.col-xs-3#charname Character name : 
			input(type="text" name="char_name" id="char_name" style="width:150px")
		div.row.col-xs-6
			div
				div.col-xs-4
					span#classlevel Class and Level :
						select#class_select
							option blank
						input(type="number")
				div.col-xs-4
					span Background : 
				div.col-xs-4
					span Race : 
						select#race_select
			div
				div.col-xs-4
					span#charalign Alignment :
				div.col-xs-4
					span Experience Points :
				div.col-xs-4
		hr
		div.row
			div.col-xs-4
				div
					span#pro_bonus Proficiency Bonus : 
		br
		div
			span#inspiration Inspiration :
		br
		div
			span#Strength Strength : 
				div.col-xs-offset-1#Strengthbonus Bonus : 
				div.col-xs-offset-1#str_save Saving Throw
				div.col-xs-offset-1#skill_Athletics Athletics
		br
		div
			span#Dexterity Dexterity : 
				div.col-xs-offset-1#Dexteritybonus Bonus :
				div.col-xs-offset-1#dex_save Saving Throw
				div.col-xs-offset-1#skill_Acrobatics Acrobatics
				div.col-xs-offset-1#skill_Sleight Sleight of Hand
				div.col-xs-offset-1#skill_Stealth Stealth
		br
		div
			span#Constitution Constitution : 
				div.col-xs-offset-1#Constitutionbonus Bonus :
				div.col-xs-offset-1#con_save Saving Throw
		br
		div
			span#Intelligence Intelligence : 
				div.col-xs-offset-1#Intelligencebonus Bonus :
				div.col-xs-offset-1#int_save Saving Throw
				div.col-xs-offset-1#skill_Arcana Arcana
				div.col-xs-offset-1#skill_History History
				div.col-xs-offset-1#skill_Investigation Investigation
				div.col-xs-offset-1#skill_Nature Nature
				div.col-xs-offset-1#skill_Religion Religion
		br
		div
			span#Wisdom Wisdom : 
				div.col-xs-offset-1#Wisdombonus Bonus :
				div.col-xs-offset-1#wis_save Saving Throw
				div.col-xs-offset-1#skill_Animal Animal Handling
				div.col-xs-offset-1#skill_Insight Insight
				div.col-xs-offset-1#skill_Medicine Medicine
				div.col-xs-offset-1#skill_Perception Perception
				div.col-xs-offset-2#passive_per Passive Perception
				div.col-xs-offset-1#skill_Survival Survival
		br
		div
			span#Charisma Charisma : 
				div.col-xs-offset-1#Charismabonus Bonus :
				div.col-xs-offset-1#cha_save Saving Throw
				div.col-xs-offset-1#skill_Deception Deception
				div.col-xs-offset-1#skill_Intimidation Intimidation
				div.col-xs-offset-1#skill_Performance Performance
				div.col-xs-offset-1#skill_Persuasion Persuasion
		div.col-xs-4
			div.row
				div.col-xs-4(style="text-align: center;") Armor Class
				div.col-xs-4(style="text-align: center;") Initiative
				div.col-xs-4#speed(style="text-align: center;") Speed
	br
	div.row
	div.col-xs-12#max_hp(style="text-align: center;") Max HP :
		input( name="max_hp" type="number")
	br
	div.row
	div.col-xs-12(style="text-align: center;") Current HP :
	input(name="current_hp" type="number")
	div.col-xs-1(style="align: left;")
	input#take_damage(type='number')
	div.col-xs-3(style="align: left;")
	button.btn.btn-sm Damage
	div.col-xs-1(style="align: left;")
	input#heal_damage(type='number')
	div.col-xs-3(style="align: left;")
	button.btn.btn-sm Heal
	br
	div.row
	div.col-xs-12(style="text-align: center;") Temporary HP :
	input(name="temporary HP" type="number")
	br
	div.row
	div.col-xs-6 Hit Dice
	div.col-xs-6 Death Saves
	br
	div.row
	table.table
	tr
	td Name
	td Atk Bonus (hit)
	td Damage
	td Type
	tr#attacks
	div.col-xs-4
	div
	div Personality Traits
	div
	textarea(rows=4)
	div Ideals
	div
	textarea(rows=4)
	div Bonds
	div
	textarea(rows=4)
	div Flaws
	div
	textarea(rows=4)
	div 
	u Features & Traits
	div#feats
	br
	div.row
	div.col-xs-3
	div#Other 
	u Proficiencies
	div.col-xs-9
	div 
	u Equipment/Items

	script(src="/js/player_make.js")