extends layout

block content
    h1 Creator
    div(id="model_one" style="display: none;")
        | #{data}
    form(method="post" action="/race/make")
        input(type="hidden" name="_csrf" value=_csrf)
        div#here
        button.btn#submit_button
            | Create!
    script.
        let temp = JSON.parse($("#model_one").html())
        for (each in temp.paths) {
            if ( (each != "_id") && (each !="__v") ) {
                switch (temp.paths[each].instance) {
                    case "Number":
                        $("#here").append("<p><label>"+each+"</label> : <input name='"+each+"' type='number'></p>")
                        break;
                    case "Array":
                        $("#here").append("<p><label>"+each+"</label> : <input name='"+each+"' type='text' placeholder='Separate by comma'></p>")
                        break;
                    case "String":
                        $("#here").append("<p<label>"+each+"</label> : <input type='text' name='"+each+"'></p>")
                        break;
                    case "Object":
                        console.log(temp.paths[each])
                        break;
                }
            }
        }