<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-body">
      <p> To Recur every Month, skip year and month fields, but DO fill in Date (1-31)</p>
      <p> To Recur once a week, fill only Day of Week, Hour, Minute, Second </p>
      <form class="form" (ngSubmit)="submitJob();" #jobForm="ngForm">
        <!--name-->
        <div class="col-md-2"><label for='name'> Name for Job : </label></div>
        <div class="col-md-10"><input type="text" class="form-control" id="name" required [(ngModel)]="job.name" name="name" #name="ngModel" /></div>
        <!--month-->
        <div class="col-md-2"><label for='month'> Month (0-11, where 0 is January) </label></div>
        <div class="col-md-10"><input type="number" min=0 max=11 class="form-control" id="month" [(ngModel)]="job.month" name="month" #name="ngModel" /></div>
        <!--day-->
        <div class="col-md-2"><label for='day'> Day (1-31) </label></div>
        <div class="col-md-10"><input type="number" min=1 max=31 class="form-control" id="day" [(ngModel)]="job.day" name="day" #name="ngModel" /></div>
        <!--day of week-->
        <div class="col-md-2"><label for='date'> Day of Week (optional) (0-6, where 0 is Sunday) </label></div>
        <div class="col-md-10"><input type="number" min=0 max=6 class="form-control" id="date" [(ngModel)]="job" name="date" #name="ngModel" /></div>
        <!--year-->
        <div class="col-md-2"><label for='year'> Year : </label></div>
        <div class="col-md-10"><input type="number" class="form-control" id="year" [(ngModel)]="job.year" name="year" #name="ngModel" /></div>
        <!--time picker-->
        <div class="col-md-2"><label for='time'> Time </label></div>
        <div class="col-md-10"><input type="text" class="form-control" id="time" required [(ngModel)]="job.time" name="time" #name="ngModel" /></div>
        <!--description-->
        <div class="col-md-2"><label for='description'> Description </label></div>
        <div class="col-md-10"><textarea type="text" class="form-control" id="description" [(ngModel)]="job.description" name="description" #name="ngModel"></textarea></div>
        <!--job tool-->
        <div class="col-md-2"><label for='tool'> Tool/Script </label></div>
        <div class="col-md-10"><select class="form-control" id="tool" [(ngModel)]="job.tool" name="tool" #name="ngModel">
          <option *ngFor="let tool of tools" [value]="tool">{{tool}}</option>
          </select></div>
        <!--recursion-->
        <div class="col-md-2"><label for='recur'> Recursioin </label></div>
        <div class="col-md-10"><input type="checkbox" class="form-control" id="recur" required [(ngModel)]="job.recur" name="recur" #name="ngModel" /></div>
        <!--submit-->
        <button type="submit" class="btn btn-success col-md-offset-2 col-md-8" [disabled]="!jobForm.form.valid">Submit</button>
      </form>
    </div>
  </div>
</div>