<!-- aside -->
<aside class="app-aside hidden-xs bg-dark" id="aside">
	<div class="aside-wrap">
		<div class="navi-wrap">
			<!-- nav -->
			<nav class="navi clearfix" ui-nav="ui-nav">
				<ul class="nav">
					<li>
						<a href="https://www.hattorihanzoshears.com/cgi-bin/dashboard.cfm">
							<span class="pull-right text-muted"></span>
							<i class="glyphicon glyphicon-stats icon"></i>
							<span class="font-bold">Back to Dashboard</span>
						</a>
					</li>
					<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
						<span>Sales</span>
					</li>
					<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
						<span>Stylists</span>
					</li>
					<li>
						<a href="/stylists/search">
							<span class="pull-right text-muted"></span>
							<i class="glyphicon glyphicon-search icon"></i>
							<span>Search</span>
						</a>
					</li>
					<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
						<span>Salons</span>
					</li>
					<li>
						<a href="/salons/search">
							<span class="pull-right text-muted"></span>
							<i class="glyphicon glyphicon-search icon"></i>
							<span>Search</span>
						</a>
					</li>
					<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
						<span>Sharpening</span>
					</li>
					<li>
						<a href="/sharpening/viewAll">
							<span class="pull-right text-muted"></span>
							<i class="glyphicon glyphicon-th-list icon"></i>
							<span>View All</span>
						</a>
					</li>
					<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
						<span>Finance</span>
					</li>
					<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
						<span>Admin</span>
					</li>
					<li>
						<a href="/admin/logs"><span class="pull-right text-muted"></span><i class="glyphicon glyphicon-search icon"></i><span>Logs</span></a>
					</li>
					<li>
						<a href="/scheduler/joblist"><span class="pull-right text-muted"></span><i class="glyphicon glyphicon-calendar icon"></i><span>List Jobs</span></a>
					</li>
					<li>
						<!--add a job page-->
            <a routerLink="/scheduler/jobs" routerLinkActive="active">Add Job</a>
            <!--<a href="/scheduler/jobs"><span class="pull-right text-muted"></span><i class="glyphicon glyphicon-calendar icon"></i><span>Add Job</span></a>-->
					</li>
					<li>
						<a href="/scheduler/tools"><span class="pull-right text-muted"></span><i class="glyphicon glyphicon-wrench icon"></i><span>Tools</span></a>
					</li>
				</ul>
			</nav>
			<!-- nav -->
			<!-- aside footer -->
			<div class="wrapper m-t"></div>
			<!-- / aside footer -->
		</div>
	</div>
</aside>
<!-- / aside -->